body {
    background-color: antiquewhite;
}

* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 
    'Times New Roman', serif;
}

div {
    position: relative;
}

.row {
    position: relative;
    padding: 15px;
}

.container {
    background-color: aliceblue;
    border: 1px solid black;
    height: fit-content;
    padding: 10px;
    margin: 10px;
}

.title {
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 175%;
    text-transform: capitalize;
}

p {
    color: black;
    width: 100%;
    height: fit-content;
    font-size: small;
    text-align: center;
}

@media (min-width: 992px) {
    .col-lg-4 {
        margin: 10px;
        height: fit-content;
        float: left;
        border: 1px solid black;
        background-color: aliceblue;
        position: relative;
    }
    .col-lg-4 {
        width: 31.4%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        padding: 10;
        height: fit-content;
        float: left;
        border: 1px solid black;
        background-color: aliceblue;
        position: relative;
    }
    .col-md-6 {
        width: 47.4%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-12 {
        padding: 10;
        margin: 10;
        height: fit-content;
        float: left;
        border: 1px solid black;
        background-color: aliceblue;
        position: relative;
    }
    .col-md-12 {
        width: 97.5%;
    }
}

.boxtitle {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: fit-content;
    border: 1px solid black;
    margin: 0;
    font-size: 125%;
    font-style: italic;
    text-align: center;
}

.title1 {
    background-color: tomato;
}

.title2 {
    background-color: yellow;
}

.title3 {
    background-color: sienna;
}